body {
  width: 1920px;
  height: 1080px;
}
svg {
  position: absolute;
}
.animation {
  background-color: red;
  animation-fill-mode: forwards;
}
.bus1 {
  position: absolute;
  top: 55px;
  animation: moveBus1 5000ms ease-in-out;
  offset-path: path(
    "M1 301.763L809.433 383.811C839.436 342.084 915.427 287.557 979.371 403.268C1143.21 422.725 1280.1 469.375 1323 323.095C1357.31 206.072 1367.3 59.6054 1368 1"
  );
}
.bus2 {
  top: 70px;
  animation: moveBus2 8000ms ease-in-out;
  offset-path: path(
    "M1 284.763L809.433 366.811L880 375.5C899.333 373.833 934.5 381.2 920.5 424C914.5 474 911.333 509.5 910.5 521L948 527.5C970.833 552.667 1038.9 592.9 1128.5 552.5C1172.9 557.7 1209 563 1221.5 565C1249.5 570.167 1309.6 568.2 1326 519C1339.6 469 1344.33 450.5 1345 447.5C1329.33 434.667 1299.4 396.8 1305 348C1331 305.2 1333.17 276.167 1331 267L1368 1"
  );
}
.bus3 {
  top: 380px;
  left: 1550px;
}
img {
  width: 1920px;
  height: 1080px;
}
@keyframes moveBus1 {
  0% {
    opacity: 1;
    offset-distance: 0%;
  }
  40% {
    offset-distance: 52%;
  }
  60% {
    offset-distance: 52%;
  }
  100% {
    offset-distance: 100%;
  }
}
@keyframes moveBus2 {
  0% {
    opacity: 1;
    offset-distance: 0%;
  }
  40% {
    offset-distance: 58%;
  }
  60% {
    offset-distance: 58%;
  }
  100% {
    offset-distance: 100%;
  }
}
