body {
  width: 1920px;
  height: 1080px;
}
svg {
  position: absolute;
}

.bus{
  position: absolute;
  background-image: url("bus.png");     
  height: 36px;
  width: 108px;
  background-repeat: no-repeat;
}

.shuttle{
  position: absolute;
  background-image: url("shuttle.png");     
  height: 36px;
  width: 108px;
  background-repeat: no-repeat;
}

.bus1 {
  position: absolute;
  top: 10px;
  animation: moveBus1 5s ease-in-out both;
  offset-path: path(
    "M1 347.763L809.433 429.811C839.436 388.084 915.427 333.557 979.371 449.268C1143.21 468.725 1286.05 516.988 1323 369.095C1353 249 1352.3 209.105 1353 150.5L1381 64L1391 0.5");
  animation-delay:2s;
}
.bus2 {
  top: 0px;
  animation: moveBus2 10000ms ease-in-out both;
  offset-path: path(
    "M1 353.141L239.597 376.835C260.634 376.913 300.83 387.157 293.323 427.507C283.939 477.944 315.376 522.516 386.463 512.898C444.646 512.898 743.694 544.49 885.946 560.286C894.861 599.697 933.243 663.694 1015.45 604.389C1122.9 604.389 1344.14 713.474 1344.14 512.898C1324.2 494.913 1291.87 442.521 1322.08 376.835C1359.86 294.728 1355.4 141.305 1380.5 48.1724C1400.58 -26.3339 1393.33 12.5143 1389.65 1.95772"
  );

}
.bus3 {
  top: 380px;
  left: 1520px;
  rotate: -72deg;
}
img {
  width: 1920px;
  height: 1080px;
}
@keyframes moveBus1 {
  0% {
    opacity: 0;
    offset-distance: 0%;
  }
  1% {
    opacity:1;
    offset-distance:1%;
  }
  44% {
    offset-distance: 51%;
  }
  64% {
    offset-distance: 51%;
  }
  99% {
      opacity: 1;
  }
  100% {
    opacity: 0;
    offset-distance: 100%;
  }
}
@keyframes moveBus2 {
  0% {
    opacity: 1;
    offset-distance: 0%;
  }
  42% {
    offset-distance: 51.4%;
  }
  62% {
    offset-distance: 51.4%;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    offset-distance: 100%;
  }
}
